:root {
    --verde-primario: #8dc73f;
    --verde-bg: #8cc73f2f;
    --verde-nav: #65b75a00;
    --azul: #3c9cd8;
    --azul-input: #3c9cd82a;
    --azul-escuro:#1073aa;
    --laranja: #f48221;
    --laranja-claro: #ecb07b73;
    --laranja-input: #216bf449;
    --laranja-input2: #7ba0e649;
    --laranja-escuro:#f15927;
    --amarelo-bg: #c9d82128;
    --amarelo-limao: #c9d821;
}

