:root {
    --verde-primario: #8dc73f;
    --verde-nav: #65b75a62;
    --azul: #3c9cd8;
    --azul-escuro:#1073aa;
    --laranja: #f48221;
    --laranja-escuro:#f15927;
    --amarelo-limão: #c9d821;
}

