.logo{
    width:250px !important;
}

.input-group{
    max-width: 1000px !important;
}

.border-btn {
    border-radius: 20px !important;
}

.botao{
    background-color: var(--azul)!important;
    color: #fff !important;
    border-radius: 50px !important;
    padding: 10px 40px !important;
}

.botao:hover{
    background-color: var(--laranja) !important;
}

