.navbar{
    border-radius: 20px !important;
    background-color: var(--verde-nav) !important;
}

.navbar a{
    color: var(--azul-escuro);
}


.footer{
    max-width: 1000px;
    border-radius: 20px !important;
    background-color: var(--verde-nav) !important;
}

.footer p{
    color: var(--azul-escuro);
}